################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/Templates/AmmTemplate/.vs/AmmTemplate
